/* You can add global styles to this file, and also import other style files */
.accentFont {
  color: #8AA194 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #8AA194 !important;
  border-color: #8AA194 !important;
}
a{
  color: #000 !important;
  text-decoration: none;
  font-size:5pt;
  
}
a:link,a:visited,a:hover,a:active{
  color:#000;
  text-decoration: none;
}
a:hover{
  color:#b35f5fab !important;
}
