<div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{whichTab}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol class="user-list" *ngIf="whichTab==='Following'; else follower">
          <li class="row user" *ngFor="let user of userInfo.following">
            <div class="col profile-pic">
              <img src={{user?.prof_url}} alt="Avatar">
            </div>
            <div class="col user-info">
              <p class="username">{{user?.userName}}</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">{{user?.bio}}</p>
            </div>
            <div class=" col unfollow-btn">
              <p *ngIf="whichTab =='Following'">
                <button type="button" class="btn btn-light">Unfollow</button>
              </p>
              <p *ngIf="whichTab =='Follower'">
                <button type="button" class="btn btn-light">Follow</button>
              </p>
            </div>

          </li>
        </ol>
        <ng-template #follower>
          <ol class="user-list">
            <li class="row user" *ngFor="let user of userInfo?.follower">
              <div class="col profile-pic">
                <img src={{user?.prof_url}} alt="Avatar">
              </div>
              <div class="col user-info">
                <p class="username">{{user?.userName}}</p>
                <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">{{user?.bio}}</p>
              </div>
              <div class=" col unfollow-btn">
                <p *ngIf="whichTab =='Following'">
                  <button type="button" class="btn btn-light">Unfollow</button>
                </p>
                <p *ngIf="whichTab =='Follower'">
                  <button type="button" class="btn btn-light">Follow</button>
                </p>
              </div>

            </li>
          </ol>
        </ng-template>
      </div>
    </div>
  </div>
</div>