@import "../global.scss";
.fade{
    .modal-body{
        max-height:30pc;}
    overflow:scroll;
}
.user-list{
    padding:10px;
    width: 100%;
    max-height: 29pc;
    overflow:scroll;
    .user{
        max-width: 100%;
        margin:5px;
        margin-bottom:15px;
        list-style:outside none none;
            .profile-pic {
                max-width:15%;
                padding:0px;
                img{
                    float:left;
                    border-radius:50%;
                    width:100%;
                    width: 40px;
                    height: 40px;
                }
            }
            .user-info{
                max-width:55%;
                padding:0px;
                .username{
                    padding-left:10px;
                    height:50%;
                    
                    margin:0px;
                }
                .userbio{
                    padding-left:10px;
                    margin:0px;
                    overflow:hidden; 
                    white-space: nowrap;
                    text-overflow:ellipsis;
                }
            }
            .unfollow-btn{
                padding:0px;
                padding-top:5px;
                padding-left:15px;
                max-width:25%;
            }
            .btn-light{
                color: $themeColor;
                font-weight:bold;
            }
            .btn-light:hover{
                background-color: #f7f3f3f8;
            }
            .mutual{
                color: $themeColor;
                font-weight:bold;
            }
            .mutual:hover span {
                color: $themeColor;
                font-weight:bold; 
                display:none
            }
            .mutual:hover:before {
                content:"Unfollow"
            }
            .mutual:hover,.mutual:focus{
                background-color: #f7f3f3f8;
                border-style:none;
            }
    }
}
