<div class="card-body">
  <div class="row content">
    <div class="col-12 col-sm-12 col-lg-12 display">
      <ngb-carousel interval=false>
        <ng-template ngbSlide *ngFor="let photo of post.post_media">
          <div class="picsum-img-wrapper">
            <img [src]="photo.url" alt="{{post.description}}">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="row content">
    <div class="col-12 col-sm-12 col-lg-12 information">
      <div class="row" id="user">
        <div class="col profile-pic">
          <div>
            <a class="username" [routerLink]="'/user/'+post.user_id"><img src="{{post.User.postOwnerProfUrl}}"
                alt="Avatar"></a>
          </div>
        </div>
        <div class="col user-comment">
          <div class="row">
            <div>
              <a class="username" [routerLink]="'/user/'+post.user_id">{{post.User.postOwnerName}}</a>
            </div>
            <div>
              <p class="date" style="color:rgba(5, 5, 5, 0.432);">{{moment(post.createdAt).fromNow()}}</p>
            </div>
          </div>
          <div>
            <p class="description">
              {{post.description}}
            </p>
          </div>

          <div class="overflow-auto">
            <div class="cat-pic">
              <a *ngFor="let cat of post.Cats" [routerLink]="'/cat/'+cat.cat_id">
                <img src="{{cat.prof_url}}" alt="Avatar">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-auto comment-list">
        <div class="comment" *ngFor="let comment of post.Comments">
          <div class="row">
            <div class="col comment-prof">
              <a class="username" [routerLink]="'/user/'+comment.User.commentUserId">
                <img src="{{comment.User.commentUserProfUrl}}" alt="Avatar">
              </a>
            </div>
            <div class="col reply-info">
              <a class="username"
                [routerLink]="'/user/'+comment.User.commentUserId">{{comment.User.commentUserName}}</a>
              <p class="reply">{{comment.content}}</p>
              <p class="reply-date" style="color:rgba(5, 5, 5, 0.432);">{{moment(comment.createdAt).fromNow()}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row function-group">
    <div class="btn-group" role="group">
      <button class="btn func-btn" (click)="likePost()" *ngIf="liked; else notliked"><i class="fas fa-paw"
          id="liked_post"></i>
      </button>
      <ng-template #notliked>
        <button class="btn func-btn" [disabled]="disableLike" (click)="likePost()"><i class="fas fa-paw"></i></button>
      </ng-template>
      <p class="like-num" style="color:rgba(5, 5, 5, 0.432);">{{post.post_likes.length}}</p>
    </div>
  </div>


  <form class="input-group mb-3" (ngSubmit)="postComment($event)">

    <input type="text" [(ngModel)]="comment" name="comment" class="form-control" placeholder="Add a comment..."
      aria-label="comment" aria-describedby="basic-addon2">
    <div class="input-group-append post">
      <button class="btn btn-primary post-btn" type="submit" [disabled]="disableComment">{{commentText}}</button>
    </div>
  </form>
</div>