<div class="card-body">
  <div class="row content">
    <div class="col display">
      <div id="myCarousel" class="carousel" interval=false data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" *ngFor="let p of post.post_media">
          <li data-target="#myCarousel"></li>
          <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner" *ngFor="let p of post.post_media">
          <div class="carousel-item">
            <img class="d-block w-100 align-middle active" src="{{p.url}}" alt="Cute cat Photo">
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

    <div class="col information">
      <div class="row" id="user">
        <div class="col profile-pic">
          <div>
            <img src="{{post.User.postOwnerProfUrl}}" alt="Avatar">
          </div>
        </div>
        <div class="col user-comment">
          <div class="row">
            <div>
              <a class="username">{{post.User.postOwnerName}}</a>
            </div>
            <div>
              <p class="date" style="color:rgba(5, 5, 5, 0.432);">{{moment(post.createdAt).fromNow()}}</p>
            </div>
          </div>
          <div>
            <p class="description">{{post.description}}</p>
          </div>

          <div class="overflow-auto">
            <a href="/" *ngFor="let cat of post.Cats">
              <img src="{{cat.prof_url}}" alt="Avatar">
            </a>
          </div>
        </div>
      </div>
      <div class="overflow-auto comment" *ngFor="let comment of post.Comments">
        <div>
          <a class="username" href="/user/{{comment.User.id}}">{{comment.User.commentUserName}}</a>
          <p class="reply">{{comment.content}}</p>
          <p class="reply-date">{{moment(comment.createdAt).fromNow()}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row function-group">
    <div class="btn-group" role="group">
      <button class="btn func-btn"><i class="fas fa-share"></i> </button>
      <button class="btn func-btn"><i class="fas fa-paw"></i> </button>
      <p class="like-num" style="color:rgba(5, 5, 5, 0.432);">{{post.post_likes.length}}</p>

    </div>
  </div>


  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add a comment..." aria-label="Recipient's username"
      aria-describedby="basic-addon2">
    <div class="input-group-append post">
      <button class="btn post-btn" type="button">Post</button>
    </div>
  </div>
</div>