<div class="right-panel">
  <p class="title" style="color:#b35f5f3b;">Recommendations</p>
  <ol class="user-list">
    <li class="row user" *ngFor="let user of users">
      <div class="col profile-pic">
        <img src={{user.prof_url}} alt="{{user.userName}}">
      </div>
      <div class="col user-info">
        <a class="username" href="/user/{{user.id}}">{{user.userName}}</a>
        <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">{{user.bio}}</p>
      </div>
      <div class="col follow-btn">
        <button type="button" class="btn btn-light">Follow</button>
      </div>
    </li>
  </ol>
</div>