<div class="right-panel">
  <p class="title" style="color:#b35f5f73;">Recommendations</p>
  <ol class="user-list">
    <li class="row user" *ngFor="let user of users">
      <div class="col profile-pic">
        <a [routerLink]="'/user/'+user.id">
          <img src={{user.prof_url}} alt="{{user.userName}}">
        </a>
      </div>
      <div class="col user-info">
        <a class="username" [routerLink]="'/user/'+user.id">{{user.userName}}</a>
        <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">{{user.bio}}</p>
      </div>
      <div class="col m-auto follow-btn" *ngIf="us.logUserFollowerList">
        <button type="button" (click)="switchFollowStatus(user.id)" class="float-right btn btn-light"
          *ngIf="!us.logUserFollowingList.includes(user.id)&&us.user.id!=user.id">Follow</button>
        <button type="button" (click)="switchFollowStatus(user.id)" class="float-right btn btn-light mutual"
          *ngIf="us.logUserFollowerList.includes(user.id)&&us.logUserFollowingList.includes(user.id)"><span>Mutual</span></button>
        <button type="button" (click)="switchFollowStatus(user.id)" class="float-right btn btn-light"
          *ngIf="!us.logUserFollowerList.includes(user.id)&&us.logUserFollowingList.includes(user.id)">Unfollow</button>
      </div>
    </li>
  </ol>
</div>