<div class="right-panel">
  <p class="title" style="color:white;">Recommendations</p>
    <ol class="user-list">
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>       
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   
        <li class="row user">
            <div class="col profile-pic"> 
                <img src="http://p3.pstatp.com/large/568e00002da81f8118ac" alt="Avatar">
            </div>
            <div class="col user-info" >
              <p class="username">Jiarany</p>
              <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">I'am your dad,imyour dad im your dad</p>
            </div>
            <div class="col follow-btn">
              <button type="button" class="btn btn-light">Follow</button>
            </div>
        </li>   

    </ol>
</div>
