<div class="cat-profile">
  <div class="row profile">
    <div class="col pic">
      <img src="{{catInfo?.prof_url}}" alt="Avatar">
    </div>
    <div class="col info">
      <div class="row information">
        <div class="col basic-info">
          <div class="row name">
            <p>{{catInfo?.name}}</p>
          </div>
          <div class="row age">
            <p style="color:rgba(5, 5, 5, 0.432);">{{catAge}} {{catAgeString}} old
            </p>
          </div>
        </div>
      </div>
      <div class="row Number">
        <div class="col information">
          <div class="row color">
            <p id="color-tab" style="color:rgba(5, 5, 5, 0.432);">Color: </p>
            <p id="color-value" style="color:rgba(5, 5, 5, 0.432);">{{catInfo?.color}}</p>
          </div>
          <div class="row spay">
            <p id="spay-tab" style="color:rgba(5, 5, 5, 0.432);">Spay: </p>
            <div *ngIf="catInfo?.spay">
              <p id="spay-value" style="color:rgba(5, 5, 5, 0.432);">Yes</p>
            </div>
            <div *ngIf="!catInfo?.spay">
              <p id="spay-value" style="color:rgba(5, 5, 5, 0.432);">No</p>
            </div>
          </div>
          <div class="row gender">
            <p id="gender-tab" style="color:rgba(5, 5, 5, 0.432);">Gender: </p>
            <p id="gender-value" style="color:rgba(5, 5, 5, 0.432);">{{catInfo?.gender}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ol class="user-list">
    <div class="row owner">
      <p class="p">Owner:</p>
    </div>
    <li class="row user">
      <div class="col profile-pic">
        <a [routerLink]="'/user/'+ownerInfo?.id">
          <img src="{{ownerInfo?.prof_url}}" alt="Avatar">
        </a>
      </div>
      <div class="col user-info">
        <a [routerLink]="'/user/'+ownerInfo?.id" class="username">{{ownerInfo?.userName}}
          <p class="userbio" style="color:rgba(5, 5, 5, 0.432);">{{ownerInfo?.bio}}</p>
        </a>
      </div>
    </li>
  </ol>
</div>