<div class="row">
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0">
    <app-left-panel (refresh)="fetchPosts()" (clearFilter)="refetchWithFilters($event)"
      (filterSubmit)="refetchWithFilters($event)"></app-left-panel>
  </div>
  <div class="col-lg-0 col-lg-0 col-md-0 col-sm-0"></div>
  <div class="col-lg-6 col-lg-6 col-md-6 col-sm-12">
    <app-compose-box *ngIf="ls.getUserInfo()" [currentUser]="ls.getUserInfo()" (post)="postPhotos($event)">
    </app-compose-box>
    <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()"
      (scrolledUp)="onUp()">
      <div *ngFor="let post of postsArray">
        <app-photo-card (likePostEvent)="fetchPosts($event)" (commentEvent)="fetchPosts($event)" [post]="post">
        </app-photo-card>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-0">
    <app-right-panel [users]="users">
    </app-right-panel>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0"></div>
</div>