<div class="container">
  <div class="row">
    <div class="col-lg-2 col-sm-0">
      <app-left-panel></app-left-panel>
    </div>

    <div class="col-lg-8 col-sm-12">
      <div class="card card-form">
        <div class="card-body">
          <div class="editUserForm">
            <form class="pt-3">
              <div class=" form-row">
                <div>
                  <div class="input-file form-group col col-md-auto">
                    <label for="photos"><img src="{{currentProfUrl}}" width=60 height=60 alt="">
                      <input class="form-control" accept=".png,.gif,.jpeg,.jpg" type="file" name="photos" id="photos"
                        [(ngModel)]="file" (change)="handleFileInput($event.target)" />
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" disabled=true [(ngModel)]="currentUserInfo.email" class="form-control" name="email"
                  id="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" disabled=true [(ngModel)]="currentUserInfo.userName" class="form-control"
                  name="userName" id="userName" placeholder="User Name" required>
                <button disabled=true>Join the Membership</button>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input minlength="6" type="password" [(ngModel)]="currentUserInfo.pwd" class="form-control" name="pwd"
                  id="password" required placeholder="Password" autocomplete="false">
              </div>
              <div class="form-group">
                <label for="genderSelection">Gender</label>
                <select [(ngModel)]="currentUserInfo.gender" name="gender" class="form-control" id="genderSelection">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="prefer not to tell">Prefer not to tell</option>
                </select>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="number" maxlength="10" [(ngModel)]="currentUserInfo.phone" class="form-control"
                  name="editUserPhone" id="phone" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label for="bio">Bio</label>
                <input type="text" [(ngModel)]="currentUserInfo.bio" class="form-control" name="editUserbio" id="bio"
                  placeholder="editUserbio">
              </div>


              <button id="submit-btn" type="submit" class="btn btn-primary btn-block"
                (click)="onEditUserSubmit()">Update information</button>
            </form>
          </div>

        </div>
      </div>

    </div>
    <div class="col-lg-2 col-sm-0">
      <!-- <app-right-panel [users]="users"></app-right-panel> -->
    </div>
  </div>




</div>