@import "../global.scss";

.card-body{
  border-left-width: 40px;
  border-color: $themeColor;
  border-style: solid;
}

#submit-btn{
  border-color: $themeColor;
  background-color: $themeColor;
  font-weight: bold;
 
}

label{
  font-weight: bold;
  color: $accentColor;
}

input{
  
}