@import "../global.scss";

.card-body{
  border-bottom-width: 20px;
  border-color: $themeColor;
  border-style: solid;
}

#submit-btn{
  border-color: $themeColor;
  background-color: $themeColor;
  font-weight: bold;
 
}
label{
  font-weight: bold;
  color: $accentColor;
}

#upload-body {
  border-bottom-width: 20px;
  border-color: #e9cccc;
  border-style: solid;
  border-style: dotted;
  border-color: #e9cccc;
  border-width: 3px;
  margin: 15px;
}
