<div class="card-body">
  <div class="row">
    <div
      *ngFor="let photo of photosToUpload; let index = index"
      class="col upload-img"
    >
      <div class="row">
        <img [src]="imgSrc" alt="photo" />
      </div>
      <div class="row"><button>Remove image</button></div>
    </div>
    <div class="input-img col-2">
      <input
        class="form-control"
        accept=".png,.gif,.jpeg,.jpg"
        type="file"
        (change)="handleFileInput($event.target.files)"
        name="photos"
        id="photos"
        multiple
      />
      <label for="photos"><i class="fas fa-plus fa-4x add-icon"></i></label>
    </div>
  </div>
</div>
