<div class="nav-sidebar-inner-scroll">
  <nav id="sidebar" [ngClass]="{ hidden: isCollapsed }">
    <ul class="navbar-nav list-unstyled components">
      <li class="nav-item" [ngClass]="{ hidden: isCollapsed }">
        <a class="nav-link accentFont" [routerLink]="['/']"><i class="fas fa-home fa-2x"></i>
          <span>Home</span>
          <!-- <span class="badge badge-primary badge-pill">14</span> -->
        </a>
      </li>
      <li class="">
        <a class="nav-link accentFont" [routerLink]="['/following']">
          <i class="fas fa-users fa-2x"></i>
          <span>Following</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link accentFont" [routerLink]="['/liked']">
          <i class="fas fa-heart fa-2x"></i>
          <span>Liked</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link accentFont">
          <i class="fas fa-sync-alt fa-2x" (click)="refreshPosts()"></i>
          <span>Refresh Posts</span>
        </a>
      </li>
      <li class="filter-list">
        <a *ngIf="isCollapsed; else filterList" (click)="expandSideBar()" class="nav-link accentFont"><i
            class="fas fa-filter fa-2x"></i>
          <span>Post Filter</span>
        </a>
        <ng-template #filterList>

          <div class="list-unstyled form-group" id="filterSubmenu">

            <label for="gender" class="accentFont">Gender</label>
            <select [(ngModel)]="filters.gender" name="catFilter" class="form-control" id="gender">
              <option value="">
              </option>
              <option value="boy">
                Boy
              </option>
              <option value="girl">
                Gril
              </option>
            </select>
            <div class="accentFont">

              <input type="checkbox" name="spay" [(ngModel)]="filters.spay" checked="filters.spay">
              Spayed
            </div>

            <div class="accentFont">
              <input type="checkbox" name="kitten" [(ngModel)]="filters.kitten" [checked]="filters.kitten">Kittens(&lt;
              1 year old)
            </div>

            <button type="submit" (click)="applyFilters($event)" class="btn btn-primary float-right mt-2">Apply</button>
            <button (click)="clear()" class="btn btn-primary float-right mt-2">Clear Filter</button>
          </div>

        </ng-template>
      </li>
    </ul>
    <div><button id="sidebar-btn" type="button" class="navbar-toggler btn btn-lg btn-block" (click)="toggleSideBar()">
        <span><i class="fas fa-2x accentFont"
            [ngClass]="{ 'fa-chevron-circle-right': isCollapsed, 'fa-chevron-circle-left': !isCollapsed}"></i></span>
      </button></div>

  </nav>
</div>