<div class="send-post-box">
  <div class="card">
    <div class="card-header">
      Create Post
    </div>
    <div class="card-body">
      <div class="input-post">
        <div class="row">
          <div class="col-md-auto">
            <img
              src="http://p3.pstatp.com/large/568e00002da81f8118ac"
              alt="Avatar"
              class="avatar"
            />
          </div>

          <div class="overflow-auto">
            <textarea
              placeholder="What's up with this photo"
              [(ngModel)]="description"
              id="description"
            ></textarea>
          </div>
        </div>
      </div>

      <label for="file"></label>
      <input
        type="file"
        id="file"
        (change)="handleFileInput($event.target.files)"
        multiple
      />
      <button
        id="submit-post"
        class="btn btn-light"
        (click)="submitForm($event)"
      >
        Post
      </button>
    </div>
  </div>
</div>
